

body{
    width: 100%;
    height: 100vh;
    position: relative;
    font-family: Roboto, Arial, Helvetica;
  }

#frm-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffffff90;
    gap: 1vh;
    width: 50vw;
    padding: 2vh 0vw 2vh 2vw;
    border: 2px solid #ffa500;
    border-radius: 5px;
}